@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap");
/* font-family: "Roboto Slab", serif; */
/* font-family: 'Alegreya SC', serif; */

.f1bg {
  background-color: #f1f1f1;
}
.roboto {
  font-family: "Roboto Slab", serif;
}
